In [ ]:
st="ramanujan"
print (st[0:5:1])
print (st[0:5:-1])
print (st[5:0:-1])
print (st[7:-5:-1])
print (st[::-2])
print (st[:4:3])
print (st[-7:4:2])
print (st[::-3])
print (st[::4])

In [2]:
l=[1,2,3,"jack sparrow","wayne rooney","manchester city"]
print (l[0:2])
print (l[2:4])
print (l[3::-1])
print (l[4::-2])
print (l[2:-1:-2])
print (l[3][5:8])
print (l[4][6:9])
print (l[5][14:10:-1])
print (l[3][0:4])
print (l[3][0:4:3])
print (l[4][6::4])
print (l[3][4::2])
print (l[3][::-1])

[1, 2]
[3, 'jack sparrow']
['jack sparrow', 3, 2, 1]
['wayne rooney', 3, 1]
[]
spa
roo
ytic
jack
jk
re
 pro
worraps kcaj

In [20]:
l=["jordan","willback",[300,200,40,"james willson"],{1:{'name':"meason mount",'age':25,'club':"chelsea"}}]
print(l[0][:3])
print(l[1][:4])
print(l[2][2::-1])
print(l[3][1])
print(l[2][3][:5])
print(l[3][1]['name'][7:])
print (list((l[3][1])))
print(l[2][0]+l[2][2])
print(l[3][1]['club'])
print(str(l[3][1]['age']))

jor
will
[40, 200, 300]
{'name': 'meason mount', 'age': 25, 'club': 'chelsea'}
james
mount
['name', 'age', 'club']
340
chelsea
25

In [36]:
d={1:["oneplus","apple"],2:{'name1':"venugopal", 'name2':"amaresh"},"a":"anaconda"}
print(d[1][0])
print(d[1][1])
print(d[2]["name1"][0:4])
print(d[2]["name2"])
print(d["a"])
print(d[1][1][::-1])
print(d[1][0][6:2:-1])
print(d[1][::-1])
print(d["a"][0:3])
print(d[2]["name2"][3:])
print(d[2]["name1"][8:5:-1])
print(d[1][1][1:3])
print(d[2]["name2"][6:3:-1])
print(d[1][0]+d[1][1])

oneplus
apple
venu
amaresh
anaconda
elppa
sulp
['apple', 'oneplus']
ana
resh
lap
pp
hse
oneplusapple

In [2]:
i=0
while i!=11:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10